PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster-url/ift3225_ambiance?retryWrites=true&w=maj

API_BASE_URL=http://localhost:3000/api
API_KEY=my_device_api_key_here
PHYPOX_URL=http://Mon-iphone-ip:80
PHYPOX_BUFFER=dB
COLLECTION_LOCATION=bibliotheque-udem
BRIDGE_INTERVAL_MS=5000
BRIDGE_DURATION_MINUTES=20

