PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DB_NAME
API_BASE_URL=http://localhost:3000/api
API_KEY=your_api_key_here
PHYPOX_URL=http://My_phyphox_ip:8080
PHYPOX_BUFFER=dB
COLLECTION_LOCATION=maison-test
BRIDGE_INTERVAL_MS=5000
BRIDGE_DURATION_MINUTES=5
JWT_SECRET=My_jwt_secret_here